/*
  Prospecs PC styles 공통
*/
$duration-short : 0.3s;
$duration : 0.6s;

$z-gnb: 1000;
$z-dim: 1100;

@mixin input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.line-clamp-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}


.ps-inner {
  width: 1640px;
  margin: 0 auto;

  &--1920 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }

  &--large {
    max-width: 1760px;
    margin: 0 auto;
  }

  &--full-width {
    width: 100%;
    min-width: 1640px;
    margin: 0 auto;

  }
}

/* button */
.ps-btn {
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }

  &.type1 {
    display: inline-block;
    vertical-align: top;
    width: 160px;
    font-weight: 700;
    font-size: 16px;
    color: #222;
    text-align: center;
    line-height: 52px;
    border: 1px solid #222;
  }

  &.type2 {
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    width: 160px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 54px;
    background: #222;
  }

  &.type3 {
    display: inline-block;
    width: 260px;
    height: 60px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    border: 1px solid #222;
  }
  
  &-wrap {
    font-size: 0;
    text-align: center;
    .ps-btn + .ps-btn {
      margin-left: 20px;
    }
    &.list-more {
      margin-top: 80px;
    }
  }

  &.share {
    display: inline-block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    text-indent: -999px;
    background: url(../images/icon_share.svg) no-repeat center center;
  }

  &.dropdown {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #222;
    border-radius: 50%;
    overflow: hidden;
    text-indent: -999px;
    background: url(../images/icon_arrow_D.svg) no-repeat center center;
  }
}

/* select */
.selectric-wrapper {
  position: relative;
  z-index: 300;
  display: inline-block;
  width: 360px;
  cursor: pointer;
  .selectric {
    &-hide-select {
      position: relative;
      width: 0;
      height: 0;
      overflow: hidden;
      > select {
        @include input;
      }
    }
    > .label {
      display: block;
      padding: 16px 54px 16px 19px;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      border: 1px solid #222;
      @include ellipsis;
    }
    > .button {
      position: absolute;
      top: 0;
      right: 0;
      width: 54px;
      height: 100%;
      text-indent: -999px;
      overflow: hidden;
      background: url('../images/icon_down.svg') no-repeat center center / 20px auto;
      transition: $duration-short;
    }
  }

  .selectric-items {
    display: none;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100% !important;
    background: #fff;
    border: 1px solid #222;
    z-index: -1;
    > .selectric-scroll {
      height: 100%;
      overflow: auto;
      > ul {
        padding: 8px 0;
        > li {
          padding: 11px 18px;
          font-size: 16px;
          color: #999;
          line-height: 26px;
          transition: $duration-short;
          &.selected,
          &:hover {
            font-weight: 500;
            color: #222;
          }
        }
      }
    }
  }
  
  &.selectric-open {
    .selectric-items {
      display: block;
    }
    .selectric {
      > .button {
        transform: rotate(-180deg);
      }
    }
  }

  &.selectric-mini {
    width: auto;
    min-width: 0;
    .selectric {
      > .label {
        border: none;
        padding: 0 28px 0 0;
      }
      > .button {
        top: 1px;
        width: 24px;
        height: 24px;
      }
    }

    .selectric-items {
      top: 56px;
      min-width: 180px;
    }

    &.selectric-right {
      .selectric-items {
        left: auto;
        right: 0;
      }
    }
  }

  &.selectric-t-type {
    width: auto;
    max-width: 100%;
    .selectric {
      > .label {
        padding: 0 45px 0 0;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        border: none;
      }
      > .button {
        top: 15px;
        width: 30px;
        height: 30px;
        border: 2px solid #222;
        border-radius: 50%;
        background: url(../images/icon_arrow_D.svg) no-repeat center center;
      }
    }
  }

  &.selectric-disabled {
    opacity: 0.5;
  }


  .selectric-input {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: none !important;
    border: none !important;
    *font: 0/0 a !important;
    background: none !important;
  }
}


/* title */
.ps-subtitle {
  font-size: 40px;
  margin-bottom: 47px;
}

.ps-title {
  &-type1 {
    font-size: 30px;
    line-height: 37px;
  }
}


.ps-tab {
  &--wrap {
    display: flex;
  }

  &--item {
    display: block;
  }

  &--wrap.type1 {
    margin-bottom: 57px;

    .ps-tab--item {
      position: relative;
      display: block;
      height: 51px;
      font-size: 26px;
      color: #999999;
      font-weight: bold;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 8px;
        background-color: #222;
        transition: $duration-short;
      }

      &+.ps-tab--item {
        margin-left: 32px;
      }

      &:hover,
      &.active {
        color: #222;

        &::after {
          width: 100%;
        }
      }
    }
  }
}

.ps-prd-list {
  &--wrap {
    margin-bottom: 140px;
  }

  &--header {
    margin-bottom: 10px;

    .ps-list-filter {
      display: inline-block;
      width: auto;
      height: 24px;
      padding: 0 28px 0 0;
      font-weight: 500;
      font-size: 18px;
      border: none;
      background: #fff url('../images/icon_filter.svg') no-repeat right 2px;
      color: #222;
      &-wrap {
        position: relative;
        .ps-filter {
          position: absolute;
          top: 54px;
          right: 0;
          z-index: 1;
        }
        + .selectric-wrapper {
          margin-left: 20px;
        }
      }
    }
  }
}

/* checkbox */
.ps-chkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  > label {
      position: relative;
      display: block;
      cursor: pointer;
      > input {
        @include input;
        &[type="checkbox"] {
            + .text {
                position: relative;
                display: inline-block;
                padding-left: 30px;
                font-size: 16px;
                color: #222;
                line-height: 20px;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #ccc;
                }
            }
            &:not(.etc-color):checked {
                + .text {
                    &::before {
                        background-color: #222;
                        background-image: url(../images/icon_chkbox.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 11px auto;
                        border: none;
                    }
                }
            }
            &.etc-color {
              + .text {
                &::before {
                  border: none;
                }
              }
              &:checked {
                + .text {
                  &::before {
                    background-image: url(../images/icon_chkbox.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 11px auto;
                  }
                }
              }
            }
        }
        &[type="radio"] {
            + .text {
                color: red;
            }
        }
        &.orange {
          + .text {
            &::before {
              background-color: #ff7510;
            }
          }
        }
        &.beige {
          + .text {
            &::before {
              background-color: #f5e9c9;
            }
          }
        }
        &.pink {
          + .text {
            &::before {
              background-color: #f46a7a;
            }
          }
        }
        &.red {
          + .text {
            &::before {
              background-color: #e13310;
            }
          }
        }
        &.brown {
          + .text {
            &::before {
              background-color: #956243;
            }
          }
        }
        &.gray {
          + .text {
            &::before {
              background-color: #dedede;
            }
          }
        }
        &.purple {
          + .text {
            &::before {
              background-color: #944bc3;
            }
          }
        }
        &.green {
          + .text {
            &::before {
              background-color: #79cba5;
            }
          }
        }
        &.blue {
          + .text {
            &::before {
              background-color: #5b7ae2;
            }
          }
        }
        &.navy {
          + .text {
            &::before {
              background-color: #353f8b;
            }
          }
        }
      }
  }
  + .ps-chkbox {
      margin-left: 30px;
  }
}

/* input */
.ps-input {
  position: relative;
  overflow: hidden;
  > .inp {
      display: block;
      width: 100%;
      height: 44px;
      padding: 0 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      transition: 0.3s;
      &.on,
      &:focus {
        outline: none;
        border-bottom: 1px solid #ccc;
      }
      &.error,
      &.error:focus {
          border-bottom: 1px solid #ccc;
      }
  }
}

/* 상품 썸네일 */
.ps-prd-item {
  display: block;
  width: auto;
  margin-bottom: 10px;
  user-select: none;

  .thumbs {
    position: relative;

    &.ratio1 {
      padding-top: 100%;

      &>img {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    &>img {
      width: 100%;
      height: auto;
    }
  }

  .desc {
    padding-top: 22px;

    .cate {
      font-size: 18px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 9px;
    }

    .name {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 25px;
    }

    .price {
      .base-price {
        color: #BABABA;
        font-weight: 500;
        font-size: 18px;
        text-decoration: line-through;
        line-height: 1;
      }

      .amount {
        font-size: 22px;
        font-weight: bold;
        line-height: 1;
        margin-top: 8px;
        margin-bottom: 15px;

        .per {
          display: inline-block;
          color: #E13310;
          vertical-align: top;
          /* margin-top: -4px; */
        }
      }
    }

    .badge {
      &>span {
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        padding: 3px 4px;
        border: 2px solid #222;
      }
      .sex {
        display: block;
        margin-right: 8px;
        padding: 0;
        color: #fff;
        overflow: hidden;
        float: left;
        border: none;

        >span {
          display: block;
          float: left;
          width: 24px;
          height: 24px;
          line-height: 24px;
          font-size: 14px;
          text-align: center;
          background-color: #222;

          &.male {
            background-color: #222;
          }

          &.female {
            background-color: #D13B40;
          }
        }
      }
    }
  }

  &.vertical {
    font-size: 0;
    .thumbs {
      display: inline-block;
      vertical-align: middle;
      width: 160px;
    }
    .desc {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 160px);
      padding: 0 0 0 30px;
    }
  }

}

.ps-post-item {
  display: block;
  width: auto;
  margin-bottom: 10px;
  user-select: none;

  .thumbs {
    position: relative;

    &.ratio1 {
      padding-top: 100%;

      &>img {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    &>img {
      width: 100%;
      height: auto;
    }
  }

  .desc {
    padding-top: 20px;

    .ps-badge {
      margin-bottom: 10px;
    }

    .name {
      font-size: 22px;
      line-height: 28px;
    }

    .d-txt {
      padding-top: 8px;
      font-size: 18px;
      line-height: 24px;
    }

  }
}


.color-sort {
  &-wrap {
    margin-bottom: 30px;
    font-size: 0;
  }
  &--btn {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    > span {
      display: block;
      height: 30px;
      overflow: hidden;
      text-indent: -999px;
    }
    & + & {
      margin-left: 16px;
    }
  }
  &--all {
    background: rgb(225,51,16);
    background: linear-gradient(135deg, rgba(225,51,16,1) 0%, rgba(244,204,34,1) 30%, rgba(125,199,25,1) 50%, rgba(58,157,219,1) 70%, rgba(123,54,204,1) 100%);
  }
  &--ty1 {
    background: #e13310;
  }
  &--ty2 {
    background: #f07811;
  }
  &--ty3 {
    background: #ffe414;
  }
  &--ty4 {
    background: #1ab5e3;
  }
  &--ty5 {
    background: #1a50e3;
  }
  &--ty6 {
    background: #6f1ae3;
  }
  &--ty7 {
    background: #222;
  }
  &--ty8 {
    border: 1px solid #ccc;
    background: #fff;
  }
}


/* layer pop */
.ps-layer-popup {
  position: relative;
  display: none;
  &--close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    text-indent: -999px;
    background: url(../images/icon_close.svg) no-repeat center center;
  }
}

/* filter */
.ps-filter {
  width: 1100px;
  padding: 40px;
  border: 1px solid #222;
  background: #fff;
  &--header {
    margin-bottom: 40px;
    h3 {
      font-size: 18px;
      padding-bottom: 16px;
      border-bottom: 4px solid #222;
    }
  }
  .ps-btn-wrap {
    margin-top: 60px;
  }
  &--list {
    > li {
      display: flex;
      .cate {
        flex-shrink: 0;
        width: 90px;
        line-height: 20px;
        &.etc {
          line-height: 44px;
        }
      }
      .filters {
        flex-grow: 1;
      }
      + li {
        margin-top: 50px;
      }
    }
  }
  .filter-chk-list {
    font-size: 0;
    > li {
      display: inline-block;
      vertical-align: top;
      width: 137px;
      margin-top: 17px;
      font-size: 0;
      &:nth-child(7n) {
        width: auto;
      }
      &:nth-child(-n + 7) {
        margin-top: 0;
      }
      
    }
  }
  &--price {
    font-size: 0;
    margin-bottom: 20px;
    .ps-input {
      display: inline-block;
      vertical-align: top;
      width: 200px;
    }
    .mw {
      display: inline-block;
      vertical-align: top;
      width: 34px;
      font-size: 16px;
      line-height: 44px;
      text-align: center;
    }
  }
}












