#psWrap {
  width: 100%;
  height: 100%;
  min-width: 1640px;

  &.sub {
    padding-top: 200px;
  }
}

.ps-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  color: #222;
  font-size: 20px;
  z-index: $z-gnb;
  transition: $duration-short;

  &.down {
    transform: translateY(-120px);
  }

  &.top {
    transform: translateY(0);
  }

  &--transparent:not(.ps-header--white):not(.hover) {
    background-color: transparent;
    color: #fff;

    .ps-header {
      &--logo {
        >a {
          background: url('../images/logo_white.svg') no-repeat;
        }
      }

      &--util {
        &>button {
          &.ps-icon--search {
            background: url('../images/icon_search_white.svg') no-repeat;
          }

          &.ps-icon--cart {
            background: url('../images/icon_cart_white.svg') no-repeat;
          }
        }
      }
    }
  }

  &--white,
  &.hover,
  &--on {
    background-color: #fff !important;
    color: #222 !important;

    .ps-header {
      &--logo {
        >a {
          background: url('../images/logo.svg') no-repeat !important;
        }
      }

      &--util {
        &>button {
          &.ps-icon--search {
            background: url('../images/icon_search.svg') no-repeat !important;
          }

          &.ps-icon--cart {
            background: url('../images/icon_cart.svg') no-repeat !important;
          }
        }
      }
    }
  }

  &--logo {
    padding-top: 44px;

    >a {
      display: block;
      width: 105px;
      height: 40px;
      background: url('../images/logo.svg') no-repeat;
      overflow: hidden;
      text-indent: -999px;
      transition: 0.3s;
    }
  }

  &--gnb {
    margin-left: 70px;
    height: 120px;
    z-index: $z-gnb;


    .gnb {
      &__item {
        float: left;
        overflow: hidden;
        padding: 0 30px;
        padding-top: 50px;


        // &+.gnb__item {
        //   margin-left: 60px;
        // }

        .gnb__link {
          position: relative;
          display: inline-block;
          transition: color $duration-short;
          padding: 0 10px;
          padding-bottom: 40px;

          &:hover,
          &.active {
            color: #D13B40;
          }
        }

        &:hover .gnb__dropdown {
          // display: block;
        }
      }

      &__dropdown {
        display: none;
        position: absolute;
        overflow: hidden;
        color: #222;
        border-top: 8px solid #222;
        background-color: #fff;
        width: 100%;
        left: 0;

        &>.ps-inner {
          padding: 48px 0 50px;
        }

        .dropdown {
          &>.ps-inner {
            padding: 48px 0 50px;
          }

          &--quick-menu {
            width: 516px;
            height: 100%;
            margin-left: 130px;
          }

          &--nav {
            .dropdown--sub {
              font-size: 18px;
              font-weight: 500;
              line-height: 21px;
              user-select: none;
              font-family: 'Spoqa Han Sans Neo', 'sans-serif';
              font-weight: 400;

              a {
                display: inline-block;
                transition: border $duration-short, color $duration-short;

                &:hover,
                &.active {
                  color: #D13B40;
                }

              }

              dt {
                &>a {
                  height: 39px;
                  line-height: 32px;
                  border-bottom: 8px solid #fff;

                  &:hover,
                  &.active {
                    border-bottom: 8px solid #D13B40;
                  }

                  &.accent-bullet {
                    position: relative;

                    &::after {
                      content: '';
                      position: absolute;
                      width: 8px;
                      height: 8px;
                      top: 0;
                      right: -12px;
                      background-color: #E13310;
                    }
                  }

                }

                &+dd {
                  margin-top: 30px;
                }
              }

              dd {
                &+dd {
                  margin-top: 25px;
                }
              }

            }
          }

          &--bg-wrap {

            &.smart-fit {
              color: #fff;

              overflow: hidden;
              background-position: center;
              background-size: cover;
              background-image: url('../images/gnb_banner_smartfit.png');

              .ps-inner {
                height: 260px;
              }

              .title {
                font-size: 24px;
                margin-right: 80px;
              }

              .desc {
                font-size: 20px;
              }
            }
          }
        }

        .quick-menu {
          font-size: 18px;

          li+li {
            margin-left: 80px;
          }

          a {
            display: inline-block;
            height: 39px;
            border-bottom: 8px solid #fff;
            transition: border $duration-short, color $duration-short;
            line-height: 32px;

            &:hover,
            &.active {
              color: #D13B40;
              border-bottom: 8px solid #D13B40;
            }
          }

          &.l-type {
            li + li {
              margin-left: 120px;
            }
          }
        }

        .quick-menu--banner {
          display: block;
          position: relative;

          &.shop {
            margin-top: 32px;
            >img {
              width: 516px;
              height: 298px;
            }
          }

          .desc {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            padding-bottom: 30px;
            padding-left: 26px;
            padding-right: 26px;

            .badge {
              display: inline-block;
              background-color: #222;
              color: #fff;
              height: 30px;
              line-height: 30px;
              padding: 0 12px;
              font-size: 14px;
              &.red {
                background-color: #d13b40;
              }
            }

            .title {
              font-size: 22px;
              line-height: 28px;
              margin-top: 9px;
              &.white {
                color: #fff;
              }
            }
          }

        }

        .archive-banner {
          .quick-menu--banner + .quick-menu--banner {
            margin-left: 40px;
          }
        }

      }
    }
  }

  &--util {

    &>button {
      display: block;

      &.ps-icon--search {
        width: 24px;
        height: 24px;
        overflow: hidden;
        text-indent: -999px;
        transition: 0.3s;
        background: url('../images/icon_search.svg') no-repeat;
      }

      &.ps-icon--cart {
        width: 24px;
        height: 24px;
        overflow: hidden;
        text-indent: -999px;
        transition: 0.3s;
        background: url('../images/icon_cart.svg') no-repeat;
      }

      &+button,
      &+a {
        margin-left: 30px;
      }
    }
  }

  &--search {
    display: none;
    width: 100%;
    overflow: hidden;
    color: #222;
    border-top: 8px solid #222;
    background-color: #fff;
    padding: 60px 0 63px;
    z-index: $z-gnb + 2;

    .ps-search {
      &--wrap {
        width: 800px;
      }

      &--header {
        margin-bottom: 37px;

        .ps-input-wrap {
          border: 1px solid #ccc;
          height: 60px;
          padding: 30px;

          input {
            width: 100%;
            font-size: 20px;
            border: 1px solid #fff;
            background: #fff;
            outline: none;

            &::placeholder {
              color: #999999;
            }
          }
        }

        .search {
          width: 130px;
          height: 60px;
          margin-left: 10px;
          color: #fff;
          font-size: 18px;
          background-color: #222;
        }
      }

      &--body {
        h3 {
          font-size: 18px;
          margin-bottom: 20px;
        }

        .ps-search-recommend {
          font-size: 20px;

          li {
            height: 27px;

            &+li {
              margin-top: 15px;
            }
          }
        }

        .ps-search-banner {
          width: 260px;
          margin-left: 20px;

          p {
            margin-top: 9px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

.ps-footer {
  main.index + & {
    margin-top: 0;
  }
  margin-top: 140px;
  padding: 40px 0;
  font-size: 14px;
  color: #fff;
  background-color: #222;

  &__info {
    margin-top: 35px;

    li {
      line-height: 17px;

      &+li {
        margin-top: 5px;
      }
    }
  }

  &__copy {
    margin-top: 31px;

    li {
      line-height: 22px;

      & + li {
        margin-top: 5px;
      }
      a {
        padding-left: 18px;
        text-decoration: underline;
      }
    }

    .copyright {
      margin-top: 18px;
    }
  }

  &__terms {
    width: 276px;
    margin-top: 57px;

    li {
      line-height: 17px;

      &+li {
        margin-top: 9px;
      }
    }
  }

  &__cs {
    .social-media {
      margin-bottom: 26px;
    }
    dl {
      > dt {
        font-size: 24px;
      }
      > dd {
        margin-top: 25px;
        & + dd {
          margin-top: 42px;
          line-height: 22px;
        }
      }
    }
    &-list01 {
      li {
        line-height: 18px;
        & + li {
          margin-top: 8px;
        }
      }
    }
  }
}

.ps-detail {
  &-header {
    position: relative;
    margin-bottom: 60px;
    padding-right: 80px;
    padding-bottom: 34px;
    border-bottom: 3px solid #222;
    .top {
      display: flex;
      .ps-drop-down {
        margin-top: 10px;
        margin-left: 20px;
      }
    }
    .ps-share {
      position: absolute;
      top: 8px;
      right: 0;
    }
  }
  &-desc {
    padding-top: 7px;
    color: #999;
  }
  &-content {
    padding-bottom: 70px;
    border-bottom: 1px solid #eee;
    > .thumbs {
      text-align: center;
    }
  }
}

.ps-inner {
  width: 1640px;
  margin: 0 auto;

  &--1920 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }

  &--large {
    max-width: 1760px;
    margin: 0 auto;
  }

  &--full-width {
    width: 100%;
    min-width: 1640px;
    margin: 0 auto;

  }

  &--small {
    max-width: 1364px;
    margin: 0 auto;
  }
}

.ps-sub-content {
  & + & {
    margin-top: 140px;
  }
  .ps-prd-list--wrap {
    margin-bottom: 0;
  }
  .ps-detail-content + & {
    margin-top: 70px;
  }

  &.lookbook {
    margin-top: 30px;
    & + & {
      margin-top: 140px;
    }
  }

  &--top {

    &.smartfit {
      background: #f8f8fa url(../images/smartfit/bg_smartfit_top.png) no-repeat center center;
    }

    &.sponsorship {
      margin-bottom: 120px;
      background: #f8f8fa url(../images/sponsorship/bg_sponsorship_top.png) no-repeat center center;
    }
    
    > .inner {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 1640px;
      height: 680px;
      margin: 0 auto;

      .title {
        font-size: 78px;
        line-height: 88px;
        small {
          display: block;
          font-weight: 500;
          font-size: 26px;
          line-height: 32px;
        }
        > span {
          display: block;
          &.line1 {            
            line-height: 109px;
          }
          &.line2 {
            margin-top: -36px;
            font-size: 104px;
            line-height: 145px;
          }
        }
      }

      .desc {
        position: relative;
        margin-top: 22px;
        padding-top: 60px;
        font-size: 20px;
        line-height: 32px;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 36px;
          border-bottom: 14px solid #222;
        }
      }

      &.white {
        .title {
          color: #fff;
        }
        .desc {
          color: #fff;
          &::before {
            border-bottom-color: #fff;
          }
        }
      }

    }
  }



}

.ps-cont-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 4px solid #222;
  /* background: blue; */
  > h4 {
    font-size: 22px;
  }
  .small-desc {
    font-size: 14px;
    line-height: 18px;
    color: #999;
  }

  & &--side {
    &.essential {
      font-size: 14px;
      &::before {
        content: '';
        display: inline-block;
        vertical-align: text-top;
        width: 4px;
        margin-right: 4px;
        border-bottom: 4px solid #d13b40;
      }
    }
  }

  + .ps-table.type2 {
    margin-top: -4px;
  }
}

.ps-breadcrumb {
  margin-bottom: 30px;
  > span {
    position: relative;
    display: inline-block;
    font-family: Poppins, Spoqa Han Sans Neo, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #999;
    &:last-child {
      font-weight: 500;
      color: #222;
    }
    + span {
      margin-left: 24px;
      &::before {
        content: '';
        position: absolute;
        top: 7px;
        left: -17px;
        width: 5px;
        height: 5px;
        border-top: 1px solid #999;
        border-right: 1px solid #999;
        transform: rotate(45deg);
      }
    }
  }
}

.ps-drop-down {
}

/* 상품 리스트 */
.ps-prd-list {
  &--wrap {
    margin-bottom: 140px;
  }

  &--header {
    margin-bottom: 10px;

    > .f-text {
      font-size: 18px;
    }

    .ps-list-filter {
      display: inline-block;
      width: auto;
      height: 24px;
      padding: 0 28px 0 0;
      font-weight: 500;
      font-size: 18px;
      border: none;
      background: #fff url('../images/icon_filter.svg') no-repeat right 2px;
      color: #222;
      &-wrap {
        position: relative;
        .ps-filter {
          position: absolute;
          top: 54px;
          right: 0;
          z-index: 1;
        }
        + .selectric-wrapper {
          margin-left: 20px;
        }
      }
    }
  }
}
/* 상품 리스트 */

/* 상품 썸네일 */
.ps-prd-item {
  display: block;
  width: auto;
  margin-bottom: 10px;
  user-select: none;

  .thumbs {
    position: relative;

    &.ratio1 {
      padding-top: 100%;

      &>img {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    &>img {
      width: 100%;
      height: auto;
    }
  }

  .desc {
    padding-top: 22px;

    .cate {
      font-size: 18px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 9px;
    }

    .name {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 25px;
    }

    .price {
      .base-price {
        color: #BABABA;
        font-weight: 500;
        font-size: 18px;
        text-decoration: line-through;
        line-height: 1;
      }

      .amount {
        font-size: 22px;
        font-weight: bold;
        line-height: 1;
        margin-top: 8px;
        margin-bottom: 15px;

        .per {
          display: inline-block;
          color: #E13310;
          vertical-align: top;
          /* margin-top: -4px; */
        }
      }
    }

    .badge {
      &>span {
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        padding: 3px 4px;
        border: 2px solid #222;
      }
      .sex {
        display: block;
        margin-right: 8px;
        padding: 0;
        color: #fff;
        overflow: hidden;
        float: left;
        border: none;

        >span {
          display: block;
          float: left;
          width: 24px;
          height: 24px;
          line-height: 24px;
          font-size: 14px;
          text-align: center;
          background-color: #222;

          &.male {
            background-color: #222;
          }

          &.female {
            background-color: #D13B40;
          }
        }
      }
    }
  }

  &.vertical {
    font-size: 0;
    .thumbs {
      display: inline-block;
      vertical-align: middle;
      width: 160px;
    }
    .desc {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 160px);
      padding: 0 0 0 30px;
    }
  }
}


/* 상품상세 */
.ps-item {

  /* 상단 */
  &-top {
    padding-bottom: 130px;
    font-size: 0;

    &--thumbs {
      display: inline-block;
      vertical-align: top;
      width: 700px;
    }

    &--info {
      display: inline-block;
      vertical-align: top;
      width: 664px;
      padding-top: 40px;
      padding-left: 84px;
    }
  }

  // 뷰어
  &--viewer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    background: #f5f5f5;

    > .item {
      width: 100%;
    }

    .ps-ai-lens {
      position: absolute;
      right: 30px;
      bottom: 30px;
      z-index: 1;
      width: 74px;
      height: 74px;
      border-radius: 50%;
      background: #fff url(../images/icon_ai_lens.svg) no-repeat center center;
    }

    &-list {
      font-size: 0;

      > .item {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        margin: 20px 20px 0 0;
        width: 160px;
        height: 160px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 2px solid #222;
          pointer-events: none;
          opacity: 0;
          transition: $duration-short;

        }

        &:nth-child(4n) {
          margin-right: 0;
        }

        &:hover,
        &.on {
          &::before {
            opacity: 1;
          }
        }

        > a {
          width: 100%;
        }
      }
    }
  }

  // 상품정보 - 명
  &-name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cont {
      .cate {
        padding-bottom: 6px;
        font-size: 16px;
        font-family: Poppins, Spoqa Han Sans Neo, sans-serif;
      }
      .name {
        font-weight: 500;
        font-size: 28px;
        line-height: 35px;
      }
    }

    .units {
      flex: none;
      padding-left: 20px;
      display: flex;
      .ps-share {
        margin-left: 6px;
      }
    }
  }

  // 상품정보 - 가격
  &-price {
    padding-top: 30px;
    .base-price {
      padding-bottom: 8px;
      font-weight: 500;
      font-size: 18px;
      text-decoration: line-through;
      line-height: 1;
      color: #999;
    }
    .amount {
      font-size: 32px;
      line-height: 40px;
      .per {
        padding-right: 10px;
        color: #e13310;
      }
    }

  }

  // 상품정보 - 별점, 쿠폰
  &-etc {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 50px;

    .rating-link {
      .rating {
        display: inline-block;
        vertical-align: middle;
        margin-right: 16px;
        
        > span {
          display: inline-block;
          width: 14px;
          height: 14px;
          background: #ebebeb;
          + span {
            margin-left: 10px;
          }
        }
        &[data-rating="1"] {
          span:nth-child(1) {
            background: #d13b40;
          }
        }
        &[data-rating="2"] {
          span:nth-child(-n + 2) {
            background: #d13b40;
          }
        }
        &[data-rating="3"] {
          span:nth-child(-n + 3) {
            background: #d13b40;
          }
        }
        &[data-rating="4"] {
          span:nth-child(-n + 4) {
            background: #d13b40;
          }
        }
        &[data-rating="5"] {
          span:nth-child(-n + 5) {
            background: #d13b40;
          }
        }
      }

      > .text {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        text-decoration: underline;
      }
      
    }
  }

  //기획전
  &-se {
    padding-top: 24px;
    .ps-title-type3 {
      padding-bottom: 16px;
    }

    .ps-list {
      li {
        a {
          display: inline-block;
          max-width: 100%;
        }
      }
    }
  }

  //옵션
  &-option {
    padding-top: 50px;

    &--color {
      display: flex;
      flex-flow: row wrap;
      &-item {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        height: 110px;
        margin: 10px 8px 0 0;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 2px solid #222;
          pointer-events: none;
          opacity: 0;
          transition: $duration-short;
        }

        a {
          display: block;
          width: 100%;
        }
        &:nth-child(3n) {
          margin-right: 7px;
        }
        &:nth-child(4n) {
          margin-right: 7px;
        }
        &:nth-child(5n) {
          margin-right: 0;
        }

        &.on,
        &:hover {
          &::before {
            opacity: 1;
          }
        }
      }
    }

    &--size {
      margin-top: 20px;
    }    
  }

  // 결제정보
  &-payment {
    padding: 30px 0 20px;

    &--top {
      position: relative;
      display: flex;
      align-items: center;
      padding-right: 30px;
      padding-bottom: 24px;
      font-size: 20px;
      line-height: 44px;
      border-bottom: 2px solid #222;

      .size {
        width: 272px;
      }

      .price {
        flex: none;
        width: 147px;
        text-align: right;
      }

      .ps-btn.close {
        position: absolute;
        top: 13px;
        right: 0;
      }
    }

    &--total {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-top: 24px;
      font-size: 22px;
      line-height: 40px;
      .amount {
        padding-left: 20px;
        font-size: 32px;
        color: #d13b40;
      }
    }

  }

  //구매 버튼
  &-buy {
    padding-top: 20px;
    .btn-wrap {
      display: flex;
      padding-bottom: 40px;
      > .ps-btn {
        flex: 1 1 0%;
      }
    }
  }

  &-naver {
    margin-top: 40px;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 22px 0;
      border-top: 2px solid #222;
      border-bottom: 1px solid #eee;
      .cont {
        padding-top: 23px;
        font-size: 16px;
        line-height: 20px;
        background: url(../images/icon_naver_logo.svg) no-repeat left top;
      }
    }
    .bottom {
      padding-top: 11px;
      a {
        display: block;
        font-size: 12px;
        color: #999;
        background: url(../images/icon_arrow_R_small.svg) no-repeat right center;
        > span {
          color: #23c300;
        }
      }
    }
  }
}

/* 상세페이지 하단 플로팅 옵션 */
.ps-bottom-options {
  position: fixed;
  bottom: 0;
  z-index: 5;
  width: 100%;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  > .inner {
    position: relative;
    width: 1346px;
    margin: 0 auto;
    text-align: right;
  }

  &--item {
    display: inline-block;

    &-btn {
      position: relative;
      display: inline-block;
      width: 260px;
      height: 60px;
      padding: 0 20px;
      border: 1px solid #222;
      border-bottom: none;
      color: #fff;
      text-align: left;
      background: #222;
      transition: $duration-short;
      > span {
        display: inline-block;
        font-weight: 500;
        font-size: 18px;
      }
      
      &:after {
        content: '';
        position: absolute;
        top: 27px;
        right: 20px;
        width: 12px;
        height: 12px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(225deg);
        transition: $duration-short;
      }

      &.active {
        color: #222;
        background: #fff;
        &:after {
          top: 20px;
          border-right: 2px solid #222;
          border-bottom: 2px solid #222;
          transform: rotate(45deg);
        }
      }
    }
  }

  &--wrap {
    display: none;
    overflow: hidden;
    > .inner {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 950px;
      padding: 30px;
      border: 1px solid #222;
      background: #fff;
    }
  }

  &--cont {
    flex: none;
    width: 580px;
    text-align: left;
    &-top {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;
      border-bottom: 2px solid #222;

      .cont {
        padding-right: 20px;
        .name {
          padding-bottom: 8px;
          font-size: 20px;
          line-height: 25px;
        }
  
        .amount {
          font-size: 22px;
          line-height: 28px;
        }
      }
    }

    .ps-item-option {
      padding-top: 30px;
    }

    .ps-item-payment {
      padding-bottom: 0;
    }
  }

  &--btns {
    .ps-btn {
      width: 250px;
      + .ps-btn {
        margin-top: 10px;
      }
    }
    
  }
}
/* 상세페이지 하단 플로팅 옵션 */

.ps-recommand {
  padding-bottom: 50px;
  overflow: hidden;
  .title {
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
  }

  &--items.ps-items-swiper {
    .cont {
      .swiper-slide {
        width: 300px;
        .ps-prd-item {
          width: 300px;
          margin-bottom: 0;
        }
      }
    }
  }
}

/* 카운터 */
.ps-counter {
  position: relative;
  display: inline-flex;
  width: 143px;
  &--number {
    flex-grow: 1;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

}

/* 상품 상세 정보 */
.ps-prd-detail {
  position: relative;
  padding-top: 100px;
  border-top: 4px solid #222;

  &--tab {
    margin: 0 auto;
    height: 51px;
    &-inner {
      position: absolute;
      z-index: 2;
      width: 100%;
      min-width: 1640px;
      transition: $duration-short;
      background: rgba($color: #fff, $alpha: 0.8);
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        border-bottom: 1px solid #222;
        transition: $duration-short;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        border-bottom: 1px solid #222;
        transition: $duration-short;
      }
      &.on {
        position: fixed;
        top: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        &::before {
          left: 0;
          width: 100%;
        }
        &::after {
          left: 0;
          width: 100%;
        }
        .up & {
          top: 120px;
        }
      }
      .incont {
        width: 1364px;
        margin: 0 auto;
      }
    }
  }
  
  &--content {
    padding-top: 80px;
    padding-bottom: 80px;
    .inner {
      width: 1364px;
      margin: 0 auto;
    }

    &:last-child {
      padding-bottom: 0;
    }

    & + & {
      padding-top: 160px;
      border-top: 4px solid #eee;
    }

    .ps-recommand {
      margin-top: 80px;
    }
  }

  &--board {
    .incont {
      text-align: center;
      img {
        display: inline-block;
      }
    }

    .ps-slide {
      margin-top: 100px;
    }
  }

}

.ps-i {

  /* 배송안내 */
  &-delivery {
    
  }
  /* 배송안내 */

}

/* 상품 상세 정보 */

/* 상품상세 */



/* 슬라이드 */
.ps-slide {
  border-top: 2px solid #222;
  &-item {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      border-bottom: 1px solid #eee;
      opacity: 0;
      transition: $duration-short;
    }
    > .title {
      position: relative;
      display: block;
      padding: 24px 30px 24px 0;
      font-size: 18px;
      line-height: 22px;
      word-break: break-all;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid #eee;
        transition: $duration-short;
      }
      &:after {
        content: '';
        position: absolute;
        top: 20px;
        right: -8px;
        width: 30px;
        height: 30px;
        background: url(../images/icon_arrow_D.svg) no-repeat center center;
        transition: $duration-short;
      }

      &.qa {
        display: flex;
        .q {
          flex: none;
          width: 30px;
        }
      }      
    }
    &.on {
      + .ps-slide-item {
        &::before {
          opacity: 1;
        }
      }

      .title {

        &::before {
          opacity: 0;
        }
        &:after {
          transform: rotate(180deg);
        }

      }
    }
  }

  &-content {
    display: none;
    .inner {
      padding: 45px 0 60px 0;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      &.answer {
        display: flex;
        > .a {
          flex: none;
          width: 30px;
          font-size: 22px;
          color: #e13310;
        }
      }
    }
    &--i {
      padding: 30px 24px;
      border: 1px solid #222;
      border-top: none;

      .size-tit {
        padding-top: 40px;
        padding-bottom: 14px;
        font-size: 14px;
        color: #999;
      }
    }
  }

  &.big {
    .ps-slide-item {
      .title {
        padding: 27px 30px 27px 0;
        font-size: 20px;
        line-height: 26px;
        &:after {
          top: 25px;
        }
      }
    }
  }

  &.brd {
    border-top: none;
    .ps-slide-item {
      &::before {
        content: none;
      }
      .title {
        padding: 20px 80px 20px 24px;
        border: 1px solid #222;
        &:after {
          top: 17px;
          right: 24px;
        }
      }
      & + .ps-slide-item {
        margin-top: -1px;
      }
    }
  }


}

.bd-box {
  padding: 30px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #eee;
}

.ps-card-benefit {
  font-size: 16px;
  line-height: 20px;
  .sub-txt {
    display: block;
    padding-top: 8px;
    font-size: 14px;
    line-height: 18px;
    color: #999;
  }
}
/* 슬라이드 */



.ps-post-list {
  padding-top: 20px;
  .ps-col {
    + .ps-col {
      margin-top: 70px;
    }
  }
}

.ps-post-item {
  display: block;
  width: auto;
  margin-bottom: 10px;
  user-select: none;

  .thumbs {
    position: relative;

    &.ratio1 {
      padding-top: 100%;

      &>img {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    &>img {
      width: 100%;
      height: auto;
    }
  }

  .desc {
    padding-top: 20px;

    .ps-badge {
      margin-bottom: 10px;
    }

    .name {
      font-size: 22px;
      line-height: 28px;
    }

    .d-txt {
      padding-top: 8px;
      font-size: 18px;
      line-height: 24px;
    }

  }
}

/* 색상 선택 */
.color-sort {
  &-wrap {
    margin-bottom: 30px;
    font-size: 0;
  }
  &--btn {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    > span {
      display: block;
      height: 30px;
      overflow: hidden;
      text-indent: -999px;
    }
    & + & {
      margin-left: 16px;
    }
  }
  &--all {
    background: rgb(225,51,16);
    background: linear-gradient(135deg, rgba(225,51,16,1) 0%, rgba(244,204,34,1) 30%, rgba(125,199,25,1) 50%, rgba(58,157,219,1) 70%, rgba(123,54,204,1) 100%);
  }
  &--ty1 {
    background: #e13310;
  }
  &--ty2 {
    background: #f07811;
  }
  &--ty3 {
    background: #ffe414;
  }
  &--ty4 {
    background: #1ab5e3;
  }
  &--ty5 {
    background: #1a50e3;
  }
  &--ty6 {
    background: #6f1ae3;
  }
  &--ty7 {
    background: #222;
  }
  &--ty8 {
    border: 1px solid #ccc;
    background: #fff;
    > span {
      height: 28px;
    }
  }
}
/* 색상 선택 */

/* filter */
.ps-filter {
  width: 1100px;
  padding: 40px;
  border: 1px solid #222;
  background: #fff;
  &--header {
    margin-bottom: 40px;
    h3 {
      font-size: 18px;
      padding-bottom: 16px;
      border-bottom: 4px solid #222;
    }
  }
  .ps-btn-wrap {
    margin-top: 60px;
  }
  &--list {
    > li {
      display: flex;
      .cate {
        flex-shrink: 0;
        width: 90px;
        line-height: 20px;
        &.etc {
          line-height: 44px;
        }
      }
      .filters {
        flex-grow: 1;
      }
      + li {
        margin-top: 50px;
      }
    }
  }
  .filter-chk-list {
    font-size: 0;
    > li {
      display: inline-block;
      vertical-align: top;
      width: 137px;
      margin-top: 17px;
      font-size: 0;
      &:nth-child(7n) {
        width: auto;
      }
      &:nth-child(-n + 7) {
        margin-top: 0;
      }
      
    }
  }
  &--price {
    font-size: 0;
    margin-bottom: 20px;
    .ps-input {
      display: inline-block;
      vertical-align: top;
      width: 200px;
    }
    .mw {
      display: inline-block;
      vertical-align: top;
      width: 34px;
      font-size: 16px;
      line-height: 44px;
      text-align: center;
    }
  }
}
/* filter */

/* layer pop */
.ps-layer-popup {
  position: relative;
  display: none;
  &--close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    text-indent: -999px;
    background: url(../images/icon_close.svg) no-repeat center center;
  }
}
/* layer pop */







