/*
  Sub Main
*/

.ui.ps-tab {
  .menu {
    margin-bottom: 34px;

    &>a {
      display: inline-block;
      position: relative;
      height: 54px;
      font-size: 26px;
      color: #999;

      &:hover,
      &[aria-selected="true"] {
        color: #222;

        &::after {
          width: 100%;
          transition: width $duration-short;
        }
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 8px;
        bottom: 0;
        background-color: #222;
      }

      &+a {
        margin-left: 30px;
      }
    }
  }
}

/* swiper */
.ps-items-swiper {
  overflow: hidden;
  .cont {
    position: relative;
    .swiper-slide {
      width: 320px;

      .ps-prd-item {
        margin-bottom: 60px;
        width: 320px;
        .desc {
          &.s-items {
            padding-top: 26px;
            .name {
              margin-bottom: 8px;
              line-height: 25px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .amount {
              font-size: 22px;
              line-height: 27px;
            }
          }
        }
      }
    }
  }

  [data-aos="ps-swiper-in"].aos-animate:not(.hidden) {
    .swiper-slide{
      @for $i from 0 through 19 {
        &:nth-child(#{$i + 1}) {
          .ps-prd-item {
            
            transition-delay: $i * 100ms;
          }
        }
      }
    }
  }

  &.lookbook {
    margin-top: 25px;
    .cont {
      .swiper-slide {
        width: 480px;
        margin-right: 40px;
        .ps-prd-item {
          width: 480px;
          margin-bottom: 0;
        }
      }

      .swiper--button {
        position: absolute;
        top: 50%;
        z-index: 1;
        display: none;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
        text-indent: -999px;
        &-prev {
          left: 0;
          background-image: url(../../assets/images/icon_arrow_L_white_blur.svg);
        }
        &-next {
          right: 150px;
          background-image: url(../../assets/images/icon_arrow_R_white_blur.svg);
        }
      }

      .swiper-container-initialized {
        .swiper-slide {
          margin-right: 0;
        }
        .swiper--button {
          display: block;
        }
      }
    }

    [data-aos="ps-swiper-in"].aos-animate:not(.hidden) {
      .swiper-slide{
        @for $i from 0 through 19 {
          &:nth-child(#{$i + 1}) {
            .ps-prd-item {
              transition-delay: $i * 100ms;
            }
          }
        }
      }
    }
  }

  [data-aos="zoom-in"].aos-init .ps-prd-item {
    opacity: 0;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    transform: scale(.6);
    transition-duration: 1s;
  }

  [data-aos="zoom-in"].aos-animate:not(.hidden) .ps-prd-item {
      @for $i from 0 through 5 {
        &:nth-child(#{$i + 1}) {
            opacity: 1;
            transform: translateZ(0) scale(1);
            transition-delay: $i * 100ms;
        }
      }
  }

}

.sub--key-visual {
  position: relative;
  z-index: 1;
  margin-bottom: 120px;
  overflow: hidden;

  .visual {
    &--img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 860px;
      z-index: -1;

      background-position: top center;
      background-size: cover;
      background-repeat: repeat-x;

      &.dim::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: transparent linear-gradient(90deg, #00000066 0%, #00000000 100%) 0% 0% no-repeat padding-box;
      }
    }

    &--title {
      padding-top: 327px;
      color: #fff;

      .font-medium {
        display: block;
        font-size: 22px;
        margin-bottom: 16px;
      }

      .font-bold {
        font-size: 48px;
        line-height: 64px;
      }
      p {
        font-size: 22px;
        margin-bottom: 16px;
      }

      h3 {
        font-size: 48px;
        line-height: 64px;
      }
    }
  }
  .swiper-container {
    height: 860px;
    .swiper-pagination {
      position: absolute;
      left: 50%;
      bottom: 40px;
      width: auto;
      transform: translateX(-50%);
      
    }
  }
}

.sub-prd-list--type1 {
  margin-bottom: 120px;
  overflow: hidden;
  .prd-list {
    &--wrap {
      position: relative;
      color: #222;
      overflow: hidden;
    }

    &--header {
      margin-bottom: 42px;

      small {
        font-size: 20px;
        margin-bottom: 11px;
      }

      h3 {
        font-size: 48px;
        line-height: 64px;
      }
    }

    &--body {
      .item {
        .left {
          flex: 0 0 820px;
          a {
            .desc {
              left: 60px;
              bottom: 60px;
              .title {
                font-size: 32px;
              }
              .amount {
                margin-top: 7px;
                font-size: 36px;
              }
            }
          }
        }
        .right {
          display: flex;
          flex: 1 1 0%;
          flex-flow: row wrap;
          align-items: flex-start;
          .row {
            width: 390px;
            margin: 20px 0 0 20px;
            &:nth-child(-n + 2) {
              margin-top: 0;
            }
          }
        }
        a {
          position: relative;
          display: block;
          .desc {
            position: absolute;
            left: 30px;
            bottom: 30px;
            z-index: 1;
            color: #fff;
            line-height: 1.3;
            opacity: 0;
            transition: $duration-short;
            .title {
              font-size: 22px;
            }
            .amount {
              margin-top: 5px;
              font-size: 26px;
            }
          }
          &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
            opacity: 0;
            transition: $duration-short;
          }
          &:hover {
            &::after {
              opacity: 1;
            }
            .desc {
              opacity: 1;
            }
          }
        }
      }      
    }
  }
  .swiper-container {
    .swiper-pagination {
      position: absolute;
      top: -40px;
      left: auto;
      right: 0;
      bottom: auto;
      width: auto;
    }
  }
}

.sub-prd-list--type2 {
  margin-bottom: 120px;
  .prd-list {
    &--wrap {
      position: relative;
      color: #222;
    }

    &--header {
      margin-bottom: 30px;

      h3 {
        margin-bottom: 40px;
        font-size: 48px;
        line-height: 64px;
      }
      h4 {
        font-size: 28px;
        line-height: 35px;
      }
    }
  }
  .best-item {
    font-size: 0;
    .visual {
      display: inline-block;
      vertical-align: top;
      width: 520px;
      margin-right: 40px;
    }
    .best-swiper {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 1080px;
      margin-top: -50px;
      padding-top: 50px;
      overflow: hidden;
      .swiper-slide {
        overflow: hidden;
      }
    }

    .swiper-pagination {
      top: -40px;
      left: auto;
      right: 0;
      bottom: auto;
    }
  }
}

.ps-best-items {
  font-size: 0;
  .ps-prd-item {
    .name {
      margin-bottom: 18px;
      @include ellipsis;
    }
    &.one {
      display: inline-block;
      vertical-align: top;
      width: 520px;
      .desc {
        padding-top: 24px;
        .cate {
          margin-bottom: 8px;
          line-height: 22px;
        }
        .name {
          margin-bottom: 18px;
          font-size: 22px;
        }
        .price {
          .base-price {
            font-size: 20px;
            line-height: 25px;
          }
          .amount {
            margin: 6px 0 0 0;
            font-size: 24px;
          }
        }
      }
    }
    .thumbs {
      .ranking {
        position: absolute;
        width: 36px;
        font-size: 18px;
        line-height: 36px;
        text-align: center;
        color: #fff;
        background: #000;
      }
    }
  }
  .rankings {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 520px);
    padding-left: 40px;
    .ps-prd-item {
      margin-bottom: 0;
      + .ps-prd-item {
        margin-top: 16px;
      }
      .amount {
        margin: 6px 0 0 0;
      }
      .name + .price.sale {
        padding-top: 32px;
      }
    }
  }
}

.sub-daily {
  position: relative;
  margin-bottom: 120px;
  &--wrap {
    position: relative;
    font-size: 0;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: calc(-100% + 296px);
      width: 100%;
      height: calc(100% - 102px);
      background: #fff;
      z-index: 2;
    }
  }
  &--header {
    position: relative;
    z-index: 3;
    display: inline-block;
    vertical-align: top;
    width: 296px;
    background: #fff;
    h3 {
      font-size: 42px;
      line-height: 54px;
      .line {
        position: relative;
        display: inline-block;
        overflow: hidden;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          border-bottom: 8px solid #222;
          transform: translateY(-50%);
        }
        .letter {
          position: relative;
          display: inline-block;
          vertical-align: top;
          background: #fff;
          &:first-child {
            padding-right: 16px;
          }
          &:last-child {
            padding-left: 16px;
            margin-left: 56px;
          }
        }
      }
    }
  }
  &--swipper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 1120px;
    .swiper-container {
      padding-bottom: 102px;
      .swiper-pagination-progressbar {
        width: 1640px;
        margin-left: -296px;
      }
    }
    .swiper-slide {
      width: 1080px;
      &.swiper-slide-active {
        .thumb {
          &::before {
            opacity: 0;
          }
        }
      }
    }
    .sub-daily--button-next {
      position: absolute;
      top: 270px;
      right: 40px;
      width: 60px;
      height: 60px;
      background: #222 url("../images/icon_arrow_R_white.svg") center no-repeat;
      z-index: 1;
    }
  }
  &--item {
    display: flex;
    justify-content: stretch;
    width: 1120px;
    padding-right: 140px;
    flex-direction: row;
    .thumb {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 460px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #000;
        opacity: 0.37;
        transition: $duration-short;
      }
    }
    .cont {
      position: relative;
      display: flex;
      flex-direction: column;
      width: calc(100% - 460px);
      padding-left: 32px;
      .item-detail {
        padding-top: 22px;
        dl {
          position: relative;
          padding-top: 40px;
          padding-bottom: 48px;
          color: #222;
          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 40px;
            border-bottom: 16px solid #222;
          }
          > dt {
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
          }
          > dd {
            margin-top: 16px;
            font-weight: 500;
            font-size: 18px;
          }
        }
        .cate {
          font-size: 16px;
          line-height: 23px;
          color: #d13b40;
        }

      }
      .items {
        margin-top: auto;
        .ps-prd-item.vertical {
          margin-bottom: 0;
          + .ps-prd-item.vertical {
            margin-top: 16px;
          }
          .thumbs {
            width: 140px;
          }
          .desc {
            .name {
              @include ellipsis;
            }
            .price {
              .amount {
                margin-bottom: 0;
              }
            }
          }
        }        
      }
    }
  }

  
}

.sub-best-review {
  margin-bottom: 120px;
  &--header {
    margin-bottom: 40px;
    h3 {
      font-size: 48px;
      line-height: 67px;
    }
    .desc {
      margin-top: 20px;
      font-size: 22px;
      line-height: 30px;
    }
  }
}

.best-review {
  display: flex;
  &--item {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    & + & {
      margin-left: 32px;
    }
    .best-prd {
      position: relative;
      flex: 1;
      .thumbs {
        position: relative;
        > .bdg {
          position: absolute;
          top: 0;
          left: 0;
          width: 60px;
          font-size: 16px;
          line-height: 60px;
          color: #fff;
          text-align: center;
          background: #222;
        }
      }
      .best-info {
        padding-top: 35px;
        dt {
          font-size: 30px;
          line-height: 38px;
        }
        dd {
          margin-top: 18px;
          font-size: 18px;
          line-height: 26px;
        }
      }
      .best-link {
        position: absolute;
        left: 0;
        bottom: 0;
        text-decoration: underline;
      }
    }
    .visual {
      flex: 1;
      margin-left: 24px;
    }
  }
}

.sub-sns {
  &--header {
    margin-bottom: 40px;
    h3 {
      font-size: 48px;
      line-height: 64px;
      &:after {
        content: '';
        position: relative;
        top: 5px;
        display: inline-block;
        vertical-align: top;
        width: 41px;
        height: 54px;
        background: url(../images/icon_fire.png);
      }
    }
  }
  &-tab {
    margin-bottom: 17px;
    font-size: 0;
    a {
      display: inline-block;
      vertical-align: top;
      margin: 0 16px 16px 0;
      padding: 15px 16px;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      border: 3px solid #222;
      transition: $duration-short;
      &:hover,
      &[aria-selected="true"] {
        color: #fff;
        background: #222;
      }
    }
  }
  &--items {
    position: relative;
    overflow: hidden;
    font-size: 0;
    .items {
      position: relative;
      float: left;
      width: 260px;
      height: 260px;
      margin: 16px 0 0 16px;
      .name {
        position: absolute;
        left: 14px;
        bottom: 14px;
        width: calc(100% - 28px);
        font-size: 20px;
        color: #fff;
      }
      &.one {
        width: 536px;
        height: 536px;
        margin: 0;
      }
      &:nth-child(-n + 5) {
        margin-top: 0;
      }
    }
  }
}

.ps-film {
  margin-top: 20px;
  &--container {
    position: relative;
    height: 0; 
    max-width: 100%; 
    height: auto;
    padding-bottom: 56.25%;
    overflow: hidden;
    iframe, 
    object, 
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  > dl {
    margin-top: 30px;
    dt {
      font-size: 28px;
      line-height: 38px;
    }
    dd {
      padding-top: 14px;
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.ps-news {
  &-wrap {
    padding-top: 18px;  
  }
  &-item {
    display: flex;
    width: 100%;
    & + & {
      margin-top: 80px;
    }
    .thumbs {
      position: relative;
      width: 820px;
      height: 547px;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .desc {
      width: 820px;
      padding-left: 40px;
      dl {
        > dt {
          padding-bottom: 15px;
          > a {
            position: relative;
            display: inline-block;
            max-width: 100%;
            padding-bottom: 5px;
            font-size: 32px;
            line-height: 48px;
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0;
              border-bottom: 8px solid #222;
              transition: $duration-short;
              overflow: hidden;
            }
            &:hover {
              &::after {
                width: 100%;
              }
            }
          }
        }
        > dd {
          font-size: 18px;
          line-height: 24px;
          &.date {
            margin-top: 40px;
            font-size: 16px;
            color: #999;
          }
        }
      }
    }
  }
}



