@@include("_head.html",{
  "title" : "프로스펙스 | 샵 메인"
  })
  
  <body>
    <div id="psWrap">
      @@include("_header.html",{
      "color" : "ps-header--transparent"
      })
      <main>
        <!-- Main -->
        <section class="sub--key-visual ps-inner--full-width">
          <div class="swiper-container ps-pagination--square">
            <div class="swiper-wrapper">
              @@for (var i = 0; i < 4; i++) {
                <div class="swiper-slide">
                  <div class="visual--img dim" style="background-image: url(../../assets/images/shop_top_visual.jpg);"></div>
                  <div class="visual--title ps-inner">
                    <a href="#" class="title">
                      <span class="font-medium">프로-스펙스 오리지널</span>
                      <strong class="font-eng font-bold">2021 F W COLLECTION <br />SEASON OPEN!</strong>
                    </a>
                  </div>
                </div>
              }
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </section>
  
        <section class="sub-prd-list--type1">
          <div class="prd-list--wrap ps-inner">
            <div class="prd-list--header">
              <small class="font-eng font-bold text-psred">NEW</small>
              <h3 class="font-bold">부드럽고 편안한 <br />아우터 미리 준비하기</h3>
            </div>
            <div class="swiper-container ps-pagination--square square-black">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="prd-list--body">
                    <div class="item">
                      <div class="flex">
                        <div class="left">
                          <a href="#">
                            <img src="../../assets/images/thumbs_new_01.png" alt="">
                            <div class="desc">
                              <p class="title">베이직 변형퀼팅 헤비아우터</p>
                              <p class="amount font-bold">199,000원</p>
                            </div>
                          </a>
                        </div>
                        <div class="right">
                          <div class="row">
                            <a href="#" class="prd-item--photo">
                              <img src="../../assets/images/thumbs_new_02.png" alt="">
                              <div class="desc">
                                <p class="title">오리지널 다운점퍼</p>
                                <p class="amount font-bold">69,000원</p>
                              </div>
                            </a>
                          </div>
                          <div class="row">
                            <a href="#" class="prd-item--photo">
                              <img src="../../assets/images/thumbs_new_03.png" alt="">
                              <div class="desc">
                                <p class="title">우븐안감 웜업상의</p>
                                <p class="amount font-bold">56,200원</p>
                              </div>
                            </a>
                          </div>
                          <div class="row">
                            <a href="#" class="prd-item--photo">
                              <img src="../../assets/images/thumbs_new_04.png" alt="">
                              <div class="desc">
                                <p class="title">퍼포먼스 다운점퍼</p>
                                <p class="amount font-bold">127,000원</p>
                              </div>
                            </a>
                          </div>
                          <div class="row">
                            <a href="#" class="prd-item--photo">
                              <img src="../../assets/images/thumbs_new_05.png" alt="">
                              <div class="desc">
                                <p class="title">고주파 엠보 블록 상의</p>
                                <p class="amount font-bold">105,000원</p>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="prd-list--body">
                    <div class="item">
                      <div class="flex">
                        <div class="left">
                          <a href="#">
                            <img src="../../assets/images/thumbs_new_01.png" alt="">
                            <div class="desc">
                              <p class="title">베이직 변형퀼팅 헤비아우터</p>
                              <p class="amount font-bold">199,000원</p>
                            </div>
                          </a>
                        </div>
                        <div class="right">
                          <div class="row">
                            <a href="#" class="prd-item--photo">
                              <img src="../../assets/images/thumbs_new_02.png" alt="">
                              <div class="desc">
                                <p class="title">오리지널 다운점퍼</p>
                                <p class="amount font-bold">69,000원</p>
                              </div>
                            </a>
                          </div>
                          <div class="row">
                            <a href="#" class="prd-item--photo">
                              <img src="../../assets/images/thumbs_new_03.png" alt="">
                              <div class="desc">
                                <p class="title">우븐안감 웜업상의</p>
                                <p class="amount font-bold">56,200원</p>
                              </div>
                            </a>
                          </div>
                          <div class="row">
                            <a href="#" class="prd-item--photo">
                              <img src="../../assets/images/thumbs_new_04.png" alt="">
                              <div class="desc">
                                <p class="title">퍼포먼스 다운점퍼</p>
                                <p class="amount font-bold">127,000원</p>
                              </div>
                            </a>
                          </div>
                          <div class="row">
                            <a href="#" class="prd-item--photo">
                              <img src="../../assets/images/thumbs_new_05.png" alt="">
                              <div class="desc">
                                <p class="title">고주파 엠보 블록 상의</p>
                                <p class="amount font-bold">105,000원</p>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </section>

        <section class="sub-prd-list--type2 ps-items-swiper">
          <div class="prd-list--wrap ps-inner">
            <div class="prd-list--header">
              <h3 class="font-bold">믿을수 있는 그이름<br> 프로스펙스</h3>
              <h4 class="font-bold">추천상품</h4>
            </div>
            <div id="swiperHashTag" data-aos="ps-swiper-in" tabindex="0" role="tabpanel" aria-labelledby="mainRelated1"
            class="cont swiper-related">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="#" class="ps-prd-item">
                      <div class="thumbs">
                        <img src="../../assets/images/temp/temp_prd_thumbs_15.png" alt="오리지널 덴스 후디">
                      </div>
                      <div class="desc s-items">
                        <p class="name">빅스타 103</p>
                        <p class="amount font-bold">71,700원</p>
                      </div>
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="ps-prd-item">
                      <div class="thumbs">
                        <img src="../../assets/images/temp/temp_prd_thumbs_14.png" alt="오리지널 덴스 후디">
                      </div>
                      <div class="desc s-items">
                        <p class="name">오리지널 스택스 TR</p>
                        <p class="amount font-bold">80,500원</p>
                      </div>
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="ps-prd-item">
                      <div class="thumbs">
                        <img src="../../assets/images/temp/temp_prd_thumbs_4.png" alt="오리지널 덴스 후디">
                      </div>
                      <div class="desc s-items">
                        <p class="name">스택스 TR 101</p>
                        <p class="amount font-bold">46,500원</p>
                      </div>
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="ps-prd-item">
                      <div class="thumbs">
                        <img src="../../assets/images/temp/temp_prd_thumbs_12.png" alt="오리지널 덴스 후디">
                      </div>
                      <div class="desc s-items">
                        <p class="name">오리지널 스택스 103</p>
                        <p class="amount font-bold">55,100원</p>
                      </div>
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="ps-prd-item">
                      <div class="thumbs">
                        <img src="../../assets/images/temp/temp_prd_thumbs_5.png" alt="오리지널 덴스 후디">
                      </div>
                      <div class="desc s-items">
                        <p class="name">스택스 캡 102</p>
                        <p class="amount font-bold">32,200원</p>
                      </div>
                    </a>
                  </div>
                  @@for (var i = 0; i < 10; i++) { <!-- prettier-ignore -->
                    <div class="swiper-slide">
                      <a href="#" class="ps-prd-item">
                        <div class="thumbs">
                          <img src="../../assets/images/temp/temp_prd_thumbs_15.png" alt="오리지널 덴스 후디">
                        </div>
                        <div class="desc s-items">
                          <p class="name">빅스타 103</p>
                          <p class="amount font-bold">71,700원</p>
                        </div>
                      </a>
                    </div>
                    }
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </section>

        <section class="sub-prd-list--type2 ps-items-swiper">
          <div class="prd-list--wrap ps-inner">
            <div class="prd-list--header">
              <h4 class="font-bold">BEST</h4>
            </div>

            <div class="ui ps-tab ps-inner--large" role="tablist">
              <div class="menu font-bold">
                <a href="#swiperHashTag" id="mainRelated1" role="tab" aria-selected="true">퍼포먼스라인</a>
                <a href="#swiperMusinsa" id="mainRelated2" role="tab" aria-selected="false">오리지널라인</a>
              </div>
            </div>

            <div class="best-item">
              <div class="visual">
                <img src="../../assets/images/thumbs_best_item.png" alt="">
              </div>
              <div class="best-swiper">
                <div class="swiper-container ps-pagination--square square-black">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="ps-best-items">
                        <a href="#" class="ps-prd-item one">
                          <div class="thumbs">
                            <span class="ranking font-bold">1</span>
                            <img src="../../assets/images/temp/temp_best_prd_01.png" alt="">
                          </div>
                          <div class="desc">
                            <p class="cate">2021 FW</p>
                            <p class="name line-clamp-2">오리지널 덴스 후디 </p>
                            <div class="price">
                              <p class="base-price">89,000원</p>
                              <p class="amount">
                                <span class="per">20%</span>
                                71,700원
                              </p>
                            </div>
                          </div>
                        </a>
                        <div class="rankings">
                          <a href="#" class="ps-prd-item vertical">
                            <div class="thumbs">
                              <span class="ranking font-bold">2</span>
                              <img src="../../assets/images/temp/temp_best_prd_02.png" alt="">
                            </div>
                            <div class="desc">
                              <p class="cate">2021 FW</p>
                              <p class="name line-clamp-2">오리지널 덴스 후디 </p>
                              <div class="price">
                                <p class="base-price">89,000원</p>
                                <p class="amount">
                                  <span class="per">20%</span>
                                  71,700원
                                </p>
                              </div>
                            </div>
                          </a>
                          <a href="#" class="ps-prd-item vertical">
                            <div class="thumbs">
                              <span class="ranking font-bold">3</span>
                              <img src="../../assets/images/temp/temp_best_prd_03.png" alt="">
                            </div>
                            <div class="desc">
                              <p class="cate">2021 FW</p>
                              <p class="name line-clamp-2">오리지널 덴스 후디 리지널 덴스 후디 리지널 덴스 후디 리지널 덴스 후디</p>
                              <div class="price">
                                <p class="base-price">89,000원</p>
                                <p class="amount">
                                  <span class="per">20%</span>
                                  71,700원
                                </p>
                              </div>
                            </div>
                          </a>
                          <a href="#" class="ps-prd-item vertical">
                            <div class="thumbs">
                              <span class="ranking font-bold">4</span>
                              <img src="../../assets/images/temp/temp_best_prd_04.png" alt="">
                            </div>
                            <div class="desc">
                              <p class="cate">2021 FW</p>
                              <p class="name line-clamp-2">오리지널 덴스 후디 </p>
                              <div class="price">
                                <p class="base-price">89,000원</p>
                                <p class="amount">
                                  <span class="per">20%</span>
                                  71,700원
                                </p>
                              </div>
                            </div>
                          </a>
                          <a href="#" class="ps-prd-item vertical">
                            <div class="thumbs">
                              <span class="ranking font-bold">5</span>
                              <img src="../../assets/images/temp/temp_best_prd_05.png" alt="">
                            </div>
                            <div class="desc">
                              <p class="cate">2021 FW</p>
                              <p class="name line-clamp-2">오리지널 덴스 후디 </p>
                              <div class="price">
                                <p class="base-price">89,000원</p>
                                <p class="amount">
                                  <span class="per">20%</span>
                                  71,700원
                                </p>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="ps-best-items">
                        <a href="#" class="ps-prd-item one">
                          <div class="thumbs">
                            <span class="ranking font-bold">1</span>
                            <img src="../../assets/images/temp/temp_best_prd_01.png" alt="">
                          </div>
                          <div class="desc">
                            <p class="cate">2021 FW</p>
                            <p class="name line-clamp-2">오리지널 덴스 후디 </p>
                            <div class="price">
                              <p class="base-price">89,000원</p>
                              <p class="amount">
                                <span class="per">20%</span>
                                71,700원
                              </p>
                            </div>
                          </div>
                        </a>
                        <div class="rankings">
                          <a href="#" class="ps-prd-item vertical">
                            <div class="thumbs">
                              <span class="ranking font-bold">2</span>
                              <img src="../../assets/images/temp/temp_best_prd_02.png" alt="">
                            </div>
                            <div class="desc">
                              <p class="cate">2021 FW</p>
                              <p class="name line-clamp-2">오리지널 덴스 후디 </p>
                              <div class="price">
                                <p class="base-price">89,000원</p>
                                <p class="amount">
                                  <span class="per">20%</span>
                                  71,700원
                                </p>
                              </div>
                            </div>
                          </a>
                          <a href="#" class="ps-prd-item vertical">
                            <div class="thumbs">
                              <span class="ranking font-bold">3</span>
                              <img src="../../assets/images/temp/temp_best_prd_03.png" alt="">
                            </div>
                            <div class="desc">
                              <p class="cate">2021 FW</p>
                              <p class="name line-clamp-2">오리지널 덴스 후디 리지널 덴스 후디 리지널 덴스 후디 리지널 덴스 후디</p>
                              <div class="price">
                                <p class="base-price">89,000원</p>
                                <p class="amount">
                                  <span class="per">20%</span>
                                  71,700원
                                </p>
                              </div>
                            </div>
                          </a>
                          <a href="#" class="ps-prd-item vertical">
                            <div class="thumbs">
                              <span class="ranking font-bold">4</span>
                              <img src="../../assets/images/temp/temp_best_prd_04.png" alt="">
                            </div>
                            <div class="desc">
                              <p class="cate">2021 FW</p>
                              <p class="name line-clamp-2">오리지널 덴스 후디 </p>
                              <div class="price">
                                <p class="base-price">89,000원</p>
                                <p class="amount">
                                  <span class="per">20%</span>
                                  71,700원
                                </p>
                              </div>
                            </div>
                          </a>
                          <a href="#" class="ps-prd-item vertical">
                            <div class="thumbs">
                              <span class="ranking font-bold">5</span>
                              <img src="../../assets/images/temp/temp_best_prd_05.png" alt="">
                            </div>
                            <div class="desc">
                              <p class="cate">2021 FW</p>
                              <p class="name line-clamp-2">오리지널 덴스 후디 </p>
                              <div class="price">
                                <p class="base-price">89,000원</p>
                                <p class="amount">
                                  <span class="per">20%</span>
                                  71,700원
                                </p>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
            
          </div>
        </section>

        <section class="sub-prd-list--type2 ps-items-swiper">
          <div class="prd-list--wrap ps-inner">
            <div class="prd-list--header">
              <h3 class="font-bold">이런 상품을<br> 찾고 계셨나요</h3>
            </div>
            <div class="recommend-color">

            </div>
            <div id="swiperHashTag" data-aos="ps-swiper-in" tabindex="0" role="tabpanel" aria-labelledby="mainRelated1"
            class="cont swiper-related">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="#" class="ps-prd-item vertical">
                      <div class="thumbs">
                        <img src="../../assets/images/temp/temp_prd_320_01.png" alt="오리지널 덴스 후디">
                      </div>
                      <div class="desc s-items">
                        <p class="name">빅스타 103</p>
                        <p class="amount font-bold">71,700원</p>
                      </div>
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="ps-prd-item">
                      <div class="thumbs">
                        <img src="../../assets/images/temp/temp_prd_320_02.png" alt="오리지널 덴스 후디">
                      </div>
                      <div class="desc s-items">
                        <p class="name">빅스타 103</p>
                        <p class="amount font-bold">71,700원</p>
                      </div>
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="ps-prd-item">
                      <div class="thumbs">
                        <img src="../../assets/images/temp/temp_prd_320_03.png" alt="오리지널 덴스 후디">
                      </div>
                      <div class="desc s-items">
                        <p class="name">빅스타 103</p>
                        <p class="amount font-bold">71,700원</p>
                      </div>
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="ps-prd-item">
                      <div class="thumbs">
                        <img src="../../assets/images/temp/temp_prd_320_04.png" alt="오리지널 덴스 후디">
                      </div>
                      <div class="desc s-items">
                        <p class="name">빅스타 103</p>
                        <p class="amount font-bold">71,700원</p>
                      </div>
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="ps-prd-item">
                      <div class="thumbs">
                        <img src="../../assets/images/temp/temp_prd_320_05.png" alt="오리지널 덴스 후디">
                      </div>
                      <div class="desc s-items">
                        <p class="name">빅스타 103</p>
                        <p class="amount font-bold">71,700원</p>
                      </div>
                    </a>
                  </div>
                  @@for (var i = 0; i < 10; i++) { <!-- prettier-ignore -->
                    <div class="swiper-slide">
                      <a href="#" class="ps-prd-item">
                        <div class="thumbs">
                          <img src="../../assets/images/temp/temp_prd_320_01.png" alt="오리지널 덴스 후디">
                        </div>
                        <div class="desc s-items">
                          <p class="name">빅스타 103</p>
                          <p class="amount font-bold">71,700원</p>
                        </div>
                      </a>
                    </div>
                    }
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </section>

        <!--// Main -->
      </main>
      @@include('_footer.html')
    </div>
    <script>
      var swiperSinglePrd = new Swiper('.sub--key-visual .swiper-container', {
        autoplay: {
          delay: 4000,
        },
        speed: 1500,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
          renderBullet: function (index, className) {
            return '<span class="font-eng font-extrabold ' + className + '"><span class="num">0' + (index + 1) +
              "</span></span>";
          },
        },
      });
      var swiperSinglePrd = new Swiper('.sub-prd-list--type1 .swiper-container', {
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
          renderBullet: function (index, className) {
            return '<span class="font-eng font-extrabold ' + className + '"><span class="num">0' + (index + 1) +
              "</span></span>";
          },
        },
      });
      var swiperSinglePrd = new Swiper('.best-swiper .swiper-container', {
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
          renderBullet: function (index, className) {
            return '<span class="font-eng font-extrabold ' + className + '"><span class="num">0' + (index + 1) +
              "</span></span>";
          },
        },
      });

      


      var swiperHashTag = new Swiper('#swiperHashTag .swiper-container', {
        slidesPerView: "auto",
        slidesPerGroup: 4,
        spaceBetween: 20,
        pagination: {
          el: ".swiper-pagination",
          type: "progressbar",
        },
      });

      AOS.init({
      disable: function msieversion() {
        return !!(window.navigator.userAgent.indexOf("MSIE ") > 0 || navigator.userAgent.match(
          /Trident.*rv\:11\./))
      }
    });
    $(function () {
      setTimeout(function () {
        AOS.refresh();
      }, 100);
    })


    </script>
  </body>
  
  </html>